<html>
<head>
	<title>This is title</title>
	<meta charset="utf-8">
	<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script type='text/javascript' src="https://code.jquery.com/jquery.min.js"></script>
	
	<link rel="stylesheet" href="/static/bootstrap-treeview.css">
	<script type='text/javascript' src="/static/bootstrap-treeview.js"></script>

	<style>
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}
</style>

</head>


<body>
	Hello {{ var }}

<div class="col-sm-10">

<textarea rows="4" cols="50" id="standard_title">
{{ text }} 
</textarea>



<button type="button" onclick="createNewstandard()" id="create_standard_button">创建标准</button>
<div hidden id="result"></div>


<div id="input_section_content" style="background-color: lightblue">
	<h3>输入目录结构</h3>
	<textarea rows="20" cols="500" id="standard_tree"></textarea>
</div>

<div>
<button type="button" onclick="createSection()" id="create_section_button">创建目录</button>
</div>



<div id="show_section_content" style="background-color: lightblue">
	<h3>显示目录结构</h3>
	<ul id="myUL">
	  <li><span class="caret">Beverages</span>
	    <ul class="nested">
	      <li>Water</li>
	      <li>Coffee</li>
	      <li><span class="caret">Tea</span>
	        <ul class="nested">
	          <li>Black Tea</li>
	          <li>White Tea</li>
	          <li><span class="caret">Green Tea</span>
	            <ul class="nested">
	              <li>Sencha</li>
	              <li>Gyokuro</li>
	              <li>Matcha</li>
	              <li>Pi Lo Chun</li>
	            </ul>
	          </li>
	        </ul>
	      </li>
	    </ul>
	  </li>
	</ul>
</div>


<div class="col-sm-4" id="default-tree"></div>

</div>
</body>
</html>

<script>
function createSection(){
	// create records in db, standard_section table
	var starand_id = $("#result").data("standard_id");
	var section = $("#standard_tree").val();
	$.post("http://localhost:8777/section", {
		sections : section,
		standard_id : starand_id
	}, function(response) {
		console.log(response.status); 
		console.log(response.data.id); 
	}, "json");
	$("#create_section_button").hide()
	$("#input_section_content").hide()
	$("#show_section_content").show()
}

function createNewstandard() {
	var standard_title = $("#standard_title").val()
	// create a record in db, standard table
	$.post("http://localhost:8777/add", {
		title : standard_title,
		template_location : 12344
	}, function(response) {
		console.log(response.status); 
		console.log(response.data.id); 
		$("#result").data("standard_id", response.data.id);
	}, "json");
	$("#create_standard_button").hide()
	$("#standard_title").hide()
}

var myTree = [
    {
      text: "Item 1",
      nodes: [
        {
          text: "Item 1-1",
          nodes: [
            {
              text: "Item 1-1-1"
            },
            {
              text: "Item 1-1-2"
            }
          ]
        },
        {
          text: "Item 1-2"
        }
      ]
    },
    {
      text: "Item 2"
    },
    {
      text: "Item 3"
    }
];
$( document ).ready(function() {
    console.log( "ready!" );
    $('#default-tree').treeview({
  	  data: myTree
  	});
    
    $('#default-tree').treeview({
    	  data: myTree
    	});
});



	

var datas=[
    {id: 1, title: 'hello', parent: 0},
    {id: 2, title: 'hello', parent: 0},
    {id: 3, title: 'hello', parent: 1},
    {id: 4, title: 'hello', parent: 3},
    {id: 5, title: 'hello', parent: 4},
    {id: 6, title: 'hello', parent: 4},
    {id: 7, title: 'hello', parent: 3},
    {id: 8, title: 'hello', parent: 2}
]
function getNestedChildren(arr, parent) {
    var out = []
    for(var i in arr) {
        if(arr[i].parent == parent) {
            var children = getNestedChildren(arr, arr[i].id)

            if(children.length) {
                arr[i].children = children
            }
            out.push(arr[i])
        }
    }
    return out
}

console.log(getNestedChildren(datas,0))

// section tree
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>