<html>
<header>
	<title>创建并编辑标准手册</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script type='text/javascript' src="/static/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap-treeview.css">
	<script type='text/javascript' src="/static/bootstrap-treeview.js"></script>
</header>
<body>
<div >
	<a href="/app/hl">返回主界面</a>
</div>

请输入标准手册名称，如：19489对应管理手册
<div >
	<input id="standard_title"></input>	
</div>
<div >
	<button type="button" onclick="createNewstandard()" id="create_standard_button">创建标准</button>
	<!-- 存储 standard_id -->
	<div id="result"></div>
</div>


<div >
上传标准手册
<form action="/uploadStandard" method="post" enctype="multipart/form-data">
	Description: <input name="description"/> <input hidden type="text" id="standard_id" name="standardId" />
	<br/>Select File: <input type="file" name="fileName"/>
	<br/><input type="submit" value="Submit"/>
</form>
</div>

</body>
</html>

<script>
function createNewstandard() {
	// 创建标准：输入 标准  文件名， 如 19489对应管理手册 ， 保存到db
	var standard_title = $("#standard_title").val()
	// create a record in db, standard table
	$.post("http://localhost:8777/addStandard", {
		title : standard_title,
		template_location : 12344
	}, function(response) {
		console.log(response.status); 
		console.log(response.data.id); 
		$("#result").data("standard_id", response.data.id);
		$("#standard_id").val(response.data.id);
	}, "json");
	$("#create_standard_button").hide() // 隐藏 ‘创建标准’ 按钮
	$("#standard_title").hide()  // 隐藏 text 框
}

</script>