<html>
<header>
	<title>创建并编辑模板</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script type='text/javascript' src="/static/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap-treeview.css">
	<script type='text/javascript' src="/static/bootstrap-treeview.js"></script>
</header>
<body>
<div >
	<a href="/app/hl">返回主界面</a>
</div>

请选择要添加模板的标准手册名称，如：19489对应管理手册
<div >
	<select id="standard-dropdown" name="locality" onchange="setStandardIdToUploader()"></select>
</div>


<div >
上传模板
<form action="/uploadTemplates" method="post" enctype="multipart/form-data">
	Description: <input name="description"/> 
	<br/>Select File: <input type="file" name="zips"/> <input type="text" id="standard_id" name="standardId" />
	<br/><input type="submit" value="Submit"/>
</form>

</div>
</body>
</html>

<script>
function setStandardIdToUploader() {
	var e = document.getElementById("standard-dropdown");
	var value = e.options[e.selectedIndex].value;

	$("#standard_id").val(value);
	console.log(value);
}

function showSectionContent() {
	var e = document.getElementById("standard-dropdown");
	var value = e.options[e.selectedIndex].value;
	$.get("http://localhost:8777/sections?eq__standard_id="+value+"&order_by=section_number",function(response) {
		console.log(response.members);
		buildTree(response.members);
	})  
}
function buildTree(sections) {
	$('#default-tree').show()
	$('#default-tree').treeview({
        data: sections,
        multiSelect: $('#chk-select-multi').is(':checked'),
        onNodeSelected: function(event, node) {
          $('#selectable-output').prepend('<p>' + node.text + ' was selected</p>');
          console.log("selected: " + node.text);
          console.log("selected: " + node.id);
          selectNodeId = node.id
        },
        onNodeUnselected: function (event, node) {
          $('#selectable-output').prepend('<p>' + node.text + ' was unselected</p>');
         
        }
     }); 
}

let dropdown = $('#standard-dropdown');
dropdown.empty();
dropdown.append('<option selected="true" disabled>选择</option>');
dropdown.prop('selectedIndex', 0);
$.get("http://localhost:8777/list-all-standards",function(response) {
	console.log(response)
	 $.each(response.data, function (data) {
		 dropdown.append($('<option></option>').attr('value', response.data[data].id).text(response.data[data].title));
	 })
}) 
</script>